[2016-05-25 20:50] bpdinteractive opened #2 "PHP Fatal error: Class 'Hborras\TwitterAdsSDK\Forbidden' not found"
On a clean install, I keep receiving this error:

`PHP Fatal error:  Class 'Hborras\TwitterAdsSDK\Forbidden' not found in /foo/src/TwitterAds.php on line 387`

Our account has "Account Administrator" role with our client's twitter accounts.
I'm using a new app for token credentials. Can I use the token from a standard twitter app or am I missing something?

Thanks in advance.

[2016-05-26 07:36] hborras commented on #2
Hi bpdinteractive,

Thanks for your feedback.

First of all, it looks like I didn't declare Error classes in a good way. I've tried to put it all in the same file, but it doesn't work with namespaces declaration I did.

I'll create an update to solve this error.

In the other hand you need an APP (and its credentials) able to work with Twitter Ads.

You need to apply here: [https://dev.twitter.com

[2016-05-26 08:13] hborras commented on #2
Issue fixed in the new release published a few secods ago

[2016-05-26 08:13] #2 closed

[2016-06-27 16:25] Blackburn29 opened #7 "Add support for tailored audiences"
I dont see any support for tailored audiences here. This would be an extremely useful feature to have.

[2016-06-27 16:25] Blackburn29 commented on #7
@hborras I'm in the process of implementing this

[2016-06-27 19:03] hborras commented on #7
Oh!

Thanks!

You're right. Hopefully tomorrow I will have internet in home and I will start to update the library. Moving to another house is a nightmare

[2016-06-28 22:28] hborras opened #9 "Fix delete On Resource"
Delete method has a PUT request instead of DELETE. Also if you want to delete, you don't need to send params to the api

[2016-06-29 06:25] hborras commented on #9
#10

[2016-06-29 06:27] hborras commented on #9
Solved in #10

[2016-06-29 06:27] #9 closed

[2016-07-01 18:47] #7 closed

[2016-07-07 01:12] richzertuche opened #12 "Quick Start Example"
Hi, following the quick-start example

[code]

It always returns forbidden, the application is already accepted by twitter ads and the user already authorized the app.

TWITTER_CONSUMER_KEY =xxxxxxxxxxxxxxxx
TWITTER_CONSUMER_SECRET =xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
TWITTER_ACCESS_TOKEN =user-id-xxxxxxxxxxxxxxxxx
TWITTER_ACCESS_TOKEN_SECRET =xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

The curl request a

[2016-07-07 05:19] hborras commented on #12
Hi @richzertuche ,

You should put exactly the content that Twitter returns to you in the authorization workflow.

Anyway, I think you're right, ACCESS_TOKEN is made of a combination of the user-id and some code you should put it all together.

Tell me if you have any issue with this.

[2016-07-07 17:21] richzertuche commented on #12
Thanks @hborras

Yeap figured it out just about a few hours ago :\

Right now I'm trying to get the analytics for all my CAMPAIGNs, no luck yet, everything returns empty, CAMPAIGNs do appear.

Thanks

[2016-07-08 06:22] hborras commented on #12
How are you making the requests?

[2016-07-08 06:22] hborras opened #13 "Add more documentation for analytics"

[2016-07-08 16:59] richzertuche commented on #12
//Create twitter ads client
        $twitterAds = new TwitterAds(env('TWITTER_CONSUMER_KEY'), env('TWITTER_CONSUMER_SECRET'), env('TWITTER_ACCESS_TOKEN'), env('TWITTER_ACCESS_TOKEN_SECRET'));
        //load up the account instance, campaign and line item
        $account = $twitterAds->getAccounts(env('ACCOUNT_ID'));
        $params = [
            'granularity' => TwitterAds\Enumerations::GRANULA

[2016-07-09 20:02] hborras commented on #12
Well, I didn't implement that to campaigns due to the fact that twitter doesn't reccomend get stats at Campaign level.

I'll check your code and I'll say something to you!

[2016-07-11 05:28] hborras commented on #12
Hi @richzertuche,

I've tryed again analytics request and all is working perfect.

With line items, with your option -> ['sort_by' => 'created_at-desc','count' => 5]  and making granularity TOTAL instead of hour I get this response:

`Array
(
    [0] => stdClass Object
        (
            [id] => 5itjm
            [id_data] => Array
                (
                    [0] => stdClass Object

[2016-07-11 22:22] pgiani opened #14 "segmentation_type not working needs asynchronous job for V1 API"
How to use your API to get GENDER segmentation, looking at the documentation we need to make a  POST /1/stats/jobs/accounts/:account_id them get an id , them wait until the job is done them retrive the url to get the stats:
I got the info from here https://dev.twitter.com/ads/reference/1/post/stats/jobs/accounts/:account_id

From what I can see from your SDK it is adding the parameter segmentation

[2016-07-11 22:35] pgiani commented on #12
To get the stats for the Campaings add a new fuction on Analytics.php as fallow `  public static function all_stats_campains(Account $account, $ids, $metricGroups, $params = [])
    {

        $endTime = isset($params['end_time']) ? $params['end_time'] : new \DateTime('now');
        $endTime->setTime($endTime->format('H'), 0, 0);
        $startTime = isset($params['start_time']) ? $params['start_

[2016-07-12 02:57] pgiani commented on #14
I have implementes the POST stats/jobs/accounts/  for segmentation and the GET stats/jobs/accounts/  to later retrieve the JOP URL

Also added entity as a parameter in order to get the stats on the campaing level also not only lineItem level

here is my code:
https://github.com/pgiani/twitter-php-ads-sdk/blob/master/src/TwitterAds/Analytics.php

see what you think about my changes

[2016-07-12 06:22] hborras commented on #12
In this case, it's even easier, you only need to extend Campaign class to Analytics instead of Resource.

That's what I meant when I say about Analytics requests and Best practices:

https://dev.twitter.com/ads/analytics/best-practices

Do request data (ideally) at the line_items and promoted_tweets level, as you can always aggregate and roll these metrics up to get totals across the entire ads en

[2016-07-12 06:24] hborras commented on #14
Hi!

Thanks, @pgiani it's a future implementation, I upgrade things when I can, now I'm solving the issue about uploading Tailored Audiences.

If you can create a Pull Request in my repo It will be easier for me to see the changes!

Thanks again!!

[2016-07-12 14:21] pgiani commented on #14
Pull request done,
https://github.com/hborras/twitter-php-ads-sdk/pull/15

[2016-07-20 21:10] hborras commented on #12
Closed since not response from @richzertuche

[2016-07-20 21:10] #12 closed

[2016-08-08 23:25] tharlinsmith opened #17 "TwitterAds::upload not ready to use"
Perhaps this is a work in progress, but we found

- The REST API is at v1.1, but the upload method uses the common http() function which fills in the Ads API version of 1.  You have an exception for the TON upload here already.
- The response body should be decoded rather than returning the plain internal Response class.

[2016-08-09 11:52] hborras commented on #17
Thanks for the advice, I'll work on it!

Thanks!

[2016-08-09 19:52] tharlinsmith opened #18 "LineItem::automatically_selected_bid should be automatically_select_bid"

[2016-08-09 20:54] tharlinsmith opened #19 "Tweet::create() has debug code in it"
Catches any exceptions and calls die() instead of returning the response

[2016-08-10 07:47] Steve1820 commented on #19
You are a god. Thank you. We literally spent an hour trying to find what we did wrong @tharlinsmith

[2016-08-10 07:49] hborras commented on #19
You're right I'll fix it!!!

Feel free to fix it yourself and send a PR!!

Thanks

[2016-08-10 07:50] Steve1820 commented on #19
@hborras Thanks for the quick response! We just commented out the die() part.

[2016-08-10 07:51] Steve1820 commented on #19
Are there any implications?

[2016-08-10 18:34] bionicmaster commented on #17
If you modify this, it begins to work (I added `else if ($host === self::UPLOAD_HOST) {
            $url = sprintf('%s/%s/%s', $host, self::API_VERSION_UPLOAD, $path);
        }` to the http request, but later, when you use chunked method, it expects `$init->media_string_id` when actually it has a response and this value is inside Body

[2016-08-12 08:53] hborras commented on #18
Fixed in 762540cf6f8dcc255fe459f7ab42c9ce7fdcfc24

[2016-08-12 08:53] #18 closed

[2016-08-12 10:04] hborras commented on #19
Fixed in 179c6892edbe60fdd10f4d34957905909ce92954

[2016-08-12 10:04] #19 closed

[2016-08-12 11:07] hborras commented on #17
Fixed in 179c689 .

Also updated example with upload picture

[2016-08-12 11:50] #17 closed

[2016-09-11 17:17] anya-gongora opened #20 "Tailored audience campaign stuck in "Processing""
Every tailored audience campaign that I create are stuck in “Processing” and none of them move past that point.

Below is my code:
[code]
I get data from a link to a csv file, I temporary store and hash it. After I hash the data I create the tailored audience campaign

[2016-09-11 21:06] hborras commented on #20
Hi @anya-gongora ,

I think I know what's the problem.

In order to hash the file, you should do it LINE BY LINE as the code in this file shows:

https://github.com/hborras/twitter-php-ads-sdk/blob/master/examples/tailored_audience.php

`
$file = fopen("path/to/list.txt", "r");
$newFile = fopen('path/to/new_list.txt','w');
while(!feof($file)){
    $line = fgets($file);
    $normalized_email = strt

[2016-09-11 21:11] anya-gongora commented on #20
@hborras, I was actually hashing the data that way at first but it was also getting stuck in "Processing". That is why I tried another hashing method.
[code]
I am not sure if it has anything to do with how I am saving my temp file

[2016-09-11 21:19] hborras commented on #20
Ok, so I'll take a look again!

Thanks!

[2016-09-12 11:23] hborras commented on #20
Another update.

I didn't try my code.

But take a look here first, maybe is a Twitter problem

https://twittercommunity.com/t/unable-to-update-audience-from-ton-bucket-hashed-email-file/73479

[2016-09-12 21:46] bllevy opened #21 "Analytics::ANALYTICS_METRIC_GROUPS_WEB_CONVERSIONS should be ::ANALYTICS_METRIC_GROUPS_WEB_CONVERSION"
Hi hborras,

First off, thank you for all your hard work and development of this repo! It's much appreciated!

While working on an analytics related project, I recently noticed that the [segment enumeration](https://dev.twitter.com/ads/basics/enums) value for WEB_CONVERSION in the file [/src/TwitterAds/Analytics.php](https://github.com/hborras/twitter-php-ads-sdk/blob/master/src/TwitterAds/Analyti

[2016-09-12 22:14] hborras commented on #21
Really well explained, I'll take a look and I'll fix it

Thanks!!!!

[2016-09-13 08:38] hborras commented on #21
Solved in 730b21fd293d26ada4f54d240bad788fc2bf6dfb

[2016-09-13 08:38] #21 closed

[2016-09-26 05:47] NAVNEETOJHA opened #23 "Updating Campaign"
I want to update campaign using this sdk, but I am not able to do so. If you are having an example for that , it would be great. I am able to create campaign but not update.

[2016-09-26 05:50] hborras commented on #23
Hi!

What have you tryed so far?

Once you have the campaign as -> $campaign.

You should change whatever you want with the setters:

$campaign->setName("New campaign name");

And, later call the save method

$campaign->save();

Have you tried this?

Thanks

[2016-09-26 05:54] NAVNEETOJHA commented on #23
I have tried this, main problem is that, I don't know how to pass the campaign id. I don't know the first step having campaign as -> $campaign.

[2016-09-26 05:57] hborras commented on #23
Oh! Okey!

You have two possibilities, if you create a new campaign with the sdk is easy, because when you create it you have the variable.

If you want to retrieve the campaign using the id you should use:

$campaign = new Campaign($account);
$campaign->load($id);

This should work :)

[2016-09-26 06:04] NAVNEETOJHA commented on #23
Thank you so much for your instant help  :smile:
May I am doing something wrong.
It is giving me this error

PHP Fatal error:  Uncaught exception 'Hborras\TwitterAdsSDK\TwitterAds\Errors\NotFound' with message 'NOT_FOUND' in /var/www/html/twitter-php-ads-sdk-master/src/TwitterAds.php:432
Stack trace:
#0 /var/www/html/twitter-php-ads-sdk-master/src/TwitterAds.php(408): Hborras\TwitterAdsSDK\Twitter

[2016-09-26 06:09] hborras commented on #23
It looks like the resource you're tryning to get doesn't exist.

Looking into the Stack Trace, I see that here:

/var/www/html/twitter-php-ads-sdk-master/examples/quick_start.php(25): Hborras\TwitterAdsSDK\TwitterAds\Resource->load('10119006')

You'retring to load id '10119006', but you can't use numbers in base 10 in the API, you should transform it before to base 36. Is the way Twitter works.

h

[2016-09-26 06:14] NAVNEETOJHA commented on #23
Thank you :+1:
It worked :smile: .

[2016-09-26 06:18] #23 closed

[2016-09-29 17:43] anya-gongora commented on #20
@hborras just wanted to let you know that after 3 weeks my tailored audiences finally changed from "Processing" to "Ready". So it was a Twitter issue. Thanks for the link to the twitter community post! I also ended up creating a post as well. They seem to be having major issues with their TON api.

[2016-09-30 10:33] hborras commented on #20
Thanks @anya-gongora So I'm going to close the Issue :)

[2016-09-30 10:33] #20 closed

[2016-11-04 06:35] Hareshdb opened #24 "Authorization"
it will reply for Oauth like that:

{"errors":[{"code":"UNAUTHORIZED_CLIENT_APPLICATION","message":"The client application making this request does not have access to this API"}],"request":{"params":{}}}

[2016-11-04 07:04] hborras commented on #24
Hi Haereshdb,

It looks like the ap you're using is not able to perform requests to the Twitter Ads API.

You should fill this form in order to be whitelisted:

https://dev.twitter.com/ads

[2017-04-17 05:36] cipljigna opened #25 "Facing issue in getting account details"
Hi There,

I am trying to fetch account details through "quick_start.php" but i am not getting any data. Please see below details for your reference.

const CONSUMER_KEY = 'uxPtNXt9rb9gVcSICeme9XPi6';
const CONSUMER_SECRET = ' iIvSXEgZ0n6KrXN8dzLchSyWnGycFi9ihMdMgrq1yGB9ZQjw1u';
const ACCESS_TOKEN = ' 76874409-ApRxXOzwRkPxhZA2vr7iQJUaVSRlUk4W5UQA3kVEc';
const ACCESS_TOKEN_SECRET = 'QEa6M5rkGzrxNir

[2017-04-17 07:33] hborras commented on #25
Hi Jigna,

I've updated your comment in order to hide your personal information. Don't share your tokens keys.

Regarding to the error. Do you get any exception? Have you connected before with the ads api with TWURL or another app?

Thanks

[2017-04-17 11:19] cipljigna commented on #25
HI hborras,

Thanks for hiding my info. I have checked and i am getting now following error.

Fatal error: Uncaught Hborras\TwitterAdsSDK\TwitterAds\Errors\NotAuthorized: NOT_AUTHORIZED.

Do you know how i can authorize or give permission to my Ad account. Can you please share TURL sample code in php. How i can fetch camping's detils, ads list, ads click, etc.

Thanks in advance.

[2017-04-17 12:27] hborras commented on #25
Hi Jigna,

Do you have your app whitelisted for Twitter Ads API?

It could be also a mistake in the access tokens.

Go here https://apps.twitter.com/app/{{your_app_id}}/keys

And regenerate them

[2017-04-17 13:26] cipljigna commented on #25
HI Hborras,

i have done changes as per you request but still facing same error. I also trying to solve this from my end.

Fatal error: Uncaught Hborras\TwitterAdsSDK\TwitterAds\Errors\NotAuthorized: NOT_AUTHORIZED in httpdocs/twitter_ads/src/TwitterAds.php:428 Stack trace: #0 httpdocs/twitter_ads/src/TwitterAds.php(408): Hborras\TwitterAdsSDK\TwitterAds->manageErrors(Object(stdClass)) #1 httpdocs

[2017-04-18 06:27] hborras commented on #25
Hi Jigna,

I think I know what the problem is.

Could it be that, the account you have selected '18ce54hdiwf', you don't have access with your user?

I explain:

There're two ways to connect in Twitter Ads API with one Ads Account.

1 - A user creates an APP, (like your app) and use the access tokens provided in the page I've pointed before. Is NECESSARY to: for the user that has created the app,

[2017-05-03 07:42] #24 closed

[2017-06-20 16:02] panand363 opened #27 "Error on $account = $twitterAds->getAccounts(ACCOUNT_ID);"
If I leave the ACCOUNT_ID empty, I still get the following error

Any help will be really appreciated.

`An uncaught Exception was encountered

Type: Hborras\TwitterAdsSDK\TwitterAds\Errors\Forbidden

Message: FORBIDDEN

Filename: /var/www/report-downloader/vendor/hborras/twitter-php-ads-sdk/src/TwitterAds.php

Line Number: 430

Backtrace:

                    File: /var/www/report-downloader/vend

[2017-06-20 16:11] hborras commented on #27
Hi @panand363

It will be helpfull if you can tell me which are you using of the library and a piece of code to try to replicate it!

Thanks!

[2017-06-21 15:13] panand363 commented on #27
Hey
thanks for the quick reply. Please check the following

`  $twAds = new TwitterAds(CONSUMER_KEY, CONSUMER_SECRET, ACCESS_TOKEN, ACCESS_TOKEN_SECRET);

            //Retrieve Account information

            $account = $twAds->getAccounts(ACCOUNT_ID);
            $account = $twAds->getAccounts();`

I try either of the command at one time and both give me the error. So basically with or without

[2017-06-21 17:30] hborras commented on #27
Hi @panand363 ,

I've checked this, and it looks like you are using bad credentials.

I want to check a few things before.

1 - Is your app whitelisted by the Twitter Ads API team? If not, you should contact with them before.

2 - OWNER_ID is NOT the same as ACCOUNT_ID. ACCOUNT_ID is an hexadecimal code associated to an account, but is not the same.

If you're not able to get your accounts with th

[2017-06-26 09:55] panand363 commented on #27
Hi @hborras ,
Sorry for replying later.
The First step for White-list, I am doing that now. You are right,  My app was not whitelisted.

i am new with Twitter and had no clue to start. But thanks for all the help.

Regards

[2017-06-26 10:43] hborras commented on #27
@panand363 You're wellcome!

So I'm going to close this issue! :+1:

[2017-06-26 10:43] #27 closed

[2017-07-19 13:34] pgiani opened #30 "Version 2 of the Twitter Ads API"
Just got this email from Twitter, this will require an update to hborras/twitter-php-ads-sdk ?

https://twittercommunity.com/t/ads-api-version-2/90360

[2017-07-19 13:47] hborras commented on #30
Hello @pgiani !

I'm working on a new update to implement all the necessary changes and much more (like: It will not be necessary to move the "twitterAds" instance accross classes and methos in your code

I will update this issue when I have it.

But keep in mind that in August I have holydays :stuck_out_tongue_closed_eyes:

[2017-07-19 13:49] pgiani commented on #30
Great thanks,.

Should I leave it open so if some one else comes looking for the V2 info.

[2017-09-01 05:36] spjoshis commented on #30
Hello @hborras ,

Cool! I am integrating it into my App. Hope upgrade will not need more changes into my cod:)

[2017-09-03 16:58] hborras commented on #14
Solved in e70faa30508c7002743f4c997e76be4e5fe89067,

Working in next release

[2017-09-03 16:58] #14 closed

[2017-11-10 01:55] letungit90 opened #31 "uploadMediaChunked media_category"
[code]

why is the media_category not tweet_video ?
https://twittercommunity.com/t/media-category-values/64781/7

and why can not set additional_owners parameter? In some case if the additional_owners is not provided, it will be can not link a video media id with card or tweet.

[2017-11-10 06:07] letungit90 commented on #31
sorry, the amplify_video media_category is needed in this case.
I am so confuse when read Twitter Ads document

[2017-11-10 06:07] #31 closed

[2017-11-21 15:22] pablolemosassis opened #34 "Date Formatter not considering Account Timezone"
Hello,
I believe the Date "gets" are not considering the Account timezone properly, since Twitter deliver the dates in UTC-0 format.
Ex:
`twurl -t -H ads-api.twitter.com '/1/accounts/18ce54jh2ch/campaigns?campaign_ids=9hyj3' | python -m json.tool`

Will give me start_time:
`"start_time": "2017-09-17T01:30:00Z"`

But the sdk express that like (with `campaing->getStartTime()`)
[code]
What I believe

[2017-11-21 16:22] hborras commented on #34
Hi! Thanks for your feedback!

I think I have an idea where the problem cames from. I'll keep you informed! Thanks!

[2017-11-21 17:20] pablolemosassis commented on #34
Nice! Tks!

[2017-11-22 07:40] hborras commented on #34
Hi @pablolemosassis I came back with some info.

In my humble opinion, you're 50% right and 50% wrong, I mean.

What you say it should be is not correct, You have written before:

[code]
(
     [date] => 2017-09-16 22:30:00.000000
     [timezone_type] => 3
     [timezone] => America/Brasilia
 )
[code]

[2017-11-23 14:41] pablolemosassis commented on #34
Hector,
I believe this enhancement is great!

I dunno if I understood it right, but I believe there is still a problem. :)
Yes, I expressed what should be the right brazilian time wrongly. The correct is

[code]
This means september 16, 2017, at 22:30:00 in Brazil.
Thats the right time when my campaign was created.
But, the sdk `campaing->getStartTime()` is giving

[code]
This means september 17,

[2017-11-23 15:09] hborras commented on #34
Hi @pablolemosassis ,

In my opinion that SDK returns

[code]

Is OK,

"Timezone_type" only means how timezone format is expressed.

UTC is "Coordinated Universal Time (UTC)", when in brazil was september 16, 2017, at 22:30:00, in UTC time (London for example) was "september 17, 2017, at 01:30:00" which is correct.

[2017-11-23 15:21] garima-goyal opened #35 "getting Call to undefined method Hborras\TwitterAdsSDK\TwitterAds\TailoredAudience\TailoredAudience::getAccount()"
There is no function like getAccount() in class TailoredAudience.

Please help asap

Thanks in advance

[2017-11-23 17:24] pablolemosassis commented on #34
Well, I am totally confused now. hehe
According to this:
https://www.w3.org/TR/NOTE-datetime

And in php if I do this:
[code]
And now here in Brazil is exactly `2017-11-23 14:46:31.000000`, it gives me:
`DateTime Object ( [date] => 2017-11-23 14:46:31.000000 [timezone_type] => 3 [timezone] => America/Sao_Paulo )`

So, in my understanding, the number representation of the time should be the local t

[2017-11-23 17:27] hborras commented on #35
Hi @garima-goyal ,

Sorry for the inconvence. TailoredAudience is fixed now in new release https://github.com/hborras/twitter-php-ads-sdk/releases/tag/v1.0.4

Please upgrade to the new version

[2017-11-23 17:32] hborras commented on #34
Hahaha, no problem.

I think you're confussing, as you have mentioned, the parameter "timezone_type". Timezone type in PHP only references how timezone is expressed.

I'm in Spain, and now here is 18:30, when i use the same code as you (changing America/SaoPaulo to Europe/Madrid)

[code]

Timezone_type is the same, the difference is "timezone" and of course, the hour.

If I change Europe/Madrid to

[2017-11-23 17:58] pablolemosassis commented on #34
aaaa ok! now I got it!! Tks a lot for the patience. :)
Ok, cool. So definitely the feature to init the account with tomezone would be awesome, since we need to send dates on the correct timezone to get Analytics reports.

[2017-11-24 07:54] garima-goyal commented on #35
Hi @hborras,

Thanks a lot for the quick response.

[2017-11-24 09:06] garima-goyal commented on #35
getting "Cannot use object of type Hborras\TwitterAdsSDK\TwitterAds\Analytics\Job as array in /home/garimag/Desktop/twitter-ads-api/twitter-php-ads-sdk-latest/examples/analytics.php on line 79" now

[2017-11-24 09:14] hborras commented on #35
Hi,

Could you paste your analytics.php code? It will be helpfull for detect the problem.

Thanks :D

[2017-11-24 10:55] garima-goyal commented on #35
yes sure

I am using the example code you shared in the release.

foreach ($campaignsData as $campaign) {
    echo $i . ": " . $campaign->getId() . " " . $campaign->getName() . " " . $campaign->getStartTime()->format('Y-m-d') . " - " . $campaign->getEntityStatus() . PHP_EOL;
    $lineItems = $campaign->getLineItems();
    /** @var LineItem $lineItem */
    foreach ($lineItems as $lineItem) {

[2017-11-24 11:19] garima-goyal commented on #35
Hi @hborras,

Can you also help me with this in Account.php class.

   public function getTailoredAudiences($id = '', $params = [])
    {
        // TODO: Next Release
    }

[2017-11-24 11:32] hborras commented on #35
Of course, let me check everything and I'll come back

[2017-11-25 10:07] hborras commented on #35
Hi @garima-goyal

I've updated the library with some changes.

1 - I've added more example, analytics.php was incomplete because I've mixed async and non-async request. Now there are two examples. One for async request and another one for non-async request.

2 - I've modified Account.php class in order to suppor getTailoredAudiences function.

Check new version of the lib.

Hope this will help you

[2017-11-25 10:07] #35 closed

[2017-11-27 06:31] garima-goyal commented on #35
Hi @hborras,

Thanks a lot for the help

I will try with this and will ask for the help if needed.:P

[2017-11-27 08:08] garima-goyal commented on #35
Hi @hborras,

Can you please tell me if there is any way to fetch the analytics of the tailerored audience (given audience id ) with the attached campaign  (USING YOUR LIBRARY)..

Lets say I have a tailored audience named "test audience". I have shared this audience with n number of advertiser. Now I want to pull stats/anlytics of the campaigns which are using my audience (test audience) with the

[2018-01-12 07:55] hborras commented on #30
Done in last release!

[2018-01-12 07:55] #30 closed

[2018-01-12 07:55] #13 closed

[2018-01-15 13:32] garima-goyal opened #37 "unable to change tailored audience file for a existing audience"
Hi,

I want to change a existing tailored audience with a different file. I am not getting how will it be processed. If it needs TONUpload to be run first ?
Please share any one example for TailoredAudienceChanges  asap.
Thanks in advance

[2018-01-15 14:19] hborras commented on #37
Hi @garima-goyal

I'll check it.

Thanks

[2018-01-22 13:59] mohandas614 opened #39 "Fatal error: Uncaught exception 'Hborras\TwitterAdsSDK\TwitterAds\Errors\Forbidden'"
Always I am getting below error even  all credentials are correct and have enough permissions.
My account is "Account Administrator" role.
`
Fatal error: Uncaught exception 'Hborras\TwitterAdsSDK\TwitterAds\Errors\Forbidden' with message 'FORBIDDEN' in /var/www/html/twitter_ads/vendor/hborras/twitter-php-ads-sdk/src/TwitterAds.php:470 Stack trace: #0 /var/www/html/twitter_ads/vendor/hborras/twitte

[2018-01-22 14:01] hborras commented on #39
Hi @mohandas614

Could you sare also the piece of code you're executing?

Thanks!

[2018-01-22 14:06] mohandas614 commented on #39
@hborras
Thanks for replay.

Here is my code
`
// Create Twitter Ads Api Instance
$api = TwitterAds::init(CONSUMER_KEY, CONSUMER_SECRET, ACCESS_TOKEN, ACCESS_TOKEN_SECRET);

$accounts = $api->getAccounts();
// load up the account instance, campaign and line item
$account = new Account(ACCOUNT_ID);
$account->read();
$campaigns = $account->getCampaigns('', [TwitterAds\Fields\CampaignFields::COUNT =>

[2018-01-22 14:30] hborras commented on #39
It looks like your credentials have expired.

Have you tried to regenerate a new ones?

https://apps.twitter.com/app/YOUR_APP_ID/keys

Here you can regenerate them and try it again

[2018-01-22 14:34] mohandas614 commented on #39
@hborras
Yes, I have regenerated the credentials and applied the same. But still I am getting this error.  Even if I give wrong credentials also getting the same error.

Thanks!

[2018-01-23 06:17] mohandas614 commented on #39
HI @hborras
Can you please do me a favour.
Can you please check with your credentials if you have. So I can confirm from my end something wrong or not.

[2018-01-23 09:03] hborras commented on #39
Hi @mohandas614
Just tested with the code inside the "analytics.php" with right credentials and it works good.

Did you apply to the TWITTER ADS API in order to get access?

Are you using the right credentials (i mean, maybe you're using ones from other Twitter App)
![sin nombre](https://user-images.githubusercontent.com/2531844/35266840-b400860c-0024-11e8-8733-87d5436336c8.png)

[2018-01-23 10:07] mohandas614 commented on #39
@hborras
Yes, I applied to the TWITTER ADS API access. And I got mail with below content

ADS API - DEVELOPER ACCESS
The Developer license provides access to all Ads API endpoints to develop your tool to completion. Developer-level partners are limited to five OAuth tokens and prohibited from exposing any Ads API functionality to external advertisers.

FYI: I checked with "pmg/twitterads" package

[2018-01-23 11:13] hborras commented on #39
Mmmm,

It looks strange.

Do you have the last version of the lib? I mean, they have destroyed TwitterADSv1, with the last version of the lib you will get the v2.

Could you try something?

Install twurl: https://github.com/twitter/twurl

`% twurl authorize --consumer-key key       \
                    --consumer-secret secret`

After this try:

twurl -H ads-api.twitter.com /2/accounts/

And past

[2018-01-23 11:36] mohandas614 commented on #39
@hborras

Thank you very much for above reply. I have upgrade to latest version and its working now.

Thank you very much for your support and you saved my time.

Thanks!

[2018-01-23 11:43] #39 closed

[2018-01-25 11:25] mohandas614 opened #40 "How to get Organic Tweets Engagement Metrics."
Hi @hborras

Can you please assist me How to get **Organic Tweets Engagement Metrics** for an Account by start and end date limit.

Please send me the code snippet if possible.

Thanks In Advance

[2018-03-28 10:14] RaviDhiman21 opened #42 "Forbidden"
Hi,

I am getting this error.

Fatal  error: Uncaught Hborras\TwitterAdsSDK\TwitterAds\Errors\Forbidden:  FORBIDDEN in C:\wamp\www\TADS\src\TwitterAds.php on line 470

Please Help
--

[2018-03-28 10:20] hborras commented on #42
Hi @RaviDhiman21

Could you share what part of code are you executing? Paste it here.

Thanks

[2018-03-28 10:27] RaviDhiman21 commented on #42
<?php

use Hborras\TwitterAdsSDK\TwitterAds;
use Hborras\TwitterAdsSDK\TwitterAds\Account;
use Hborras\TwitterAdsSDK\TwitterAds\Analytics;
use Hborras\TwitterAdsSDK\TwitterAds\Campaign\Campaign;
use Hborras\TwitterAdsSDK\TwitterAds\Campaign\LineItem;
use Hborras\TwitterAdsSDK\TwitterAds\Enumerations;
use Hborras\TwitterAdsSDK\TwitterAds\Fields\AnalyticsFields;

require '../autoload.php';

const CO

[2018-03-28 10:30] hborras commented on #42
Sorry, I can't understand anythign here.

If you want to paste code you should put it between
\`
CODE
\`

`
$a = 5;
$b = 6;
`

[2018-03-28 10:51] RaviDhiman21 commented on #42
I am trying to run analysis.php from example folder.

[2018-03-28 10:52] RaviDhiman21 commented on #42
'
<?php

use Hborras\TwitterAdsSDK\TwitterAds;
use Hborras\TwitterAdsSDK\TwitterAds\Account;
use Hborras\TwitterAdsSDK\TwitterAds\Analytics;
use Hborras\TwitterAdsSDK\TwitterAds\Campaign\Campaign;
use Hborras\TwitterAdsSDK\TwitterAds\Campaign\LineItem;
use Hborras\TwitterAdsSDK\TwitterAds\Enumerations;
use Hborras\TwitterAdsSDK\TwitterAds\Fields\AnalyticsFields;

require '../autoload.php';

const

[2018-03-28 11:03] hborras commented on #42
Thanks @RaviDhiman21

Much better with this information.

Looks like your code is more or less OK.

Have you applied for access to the Twitter Ads API?

[2018-03-28 11:05] RaviDhiman21 commented on #42
Thanks Hector

Actually i applied 13 days ago. But twitter is not replying.

[2018-03-28 11:06] hborras commented on #42
Thats the problem @RaviDhiman21

You don't have access to the Ads API.

You should contact with Twitter in order to achieve this.

Try asking here: twittercommunity.com/c/advertiser-api/

[2018-03-28 11:06] RaviDhiman21 commented on #42
Also i want to ask you one more thing can we get Organic Activity related data as well with this twitter-php-ads-sdk or not?

[2018-03-28 11:08] RaviDhiman21 commented on #42
![image](https://user-images.githubusercontent.com/34126829/38025540-62791e70-32a6-11e8-9b37-e02597e68542.png)

Please find screenshot. Already send email to them and here as well.

[2018-03-28 11:10] RaviDhiman21 commented on #42
Also need to ask you about Enterprise Account .

For what we need that Enterprise access. How to register with Gnip.

Please help me to explain them.

[2018-03-28 11:16] hborras commented on #42
You can't get organic data. with this lib.

You cant get more info here: https://developer.twitter.com/en/products/tweets/search

[2018-03-28 11:19] RaviDhiman21 commented on #42
Means if we want to get our all historical data we need to connect with twitter Enterprise Access?

[2018-03-28 11:21] hborras commented on #42
Now there's an intermediate access for small amount of data

Premium | Search Tweets API: 30-Days

I don't know too much about this kind of product. Sorry

[2018-03-28 11:22] RaviDhiman21 commented on #42
@hborras  Thanks for helping.

[2018-05-21 05:56] projects-logiciel opened #43 "TwitterAds.php File not handle exception"

[2018-05-21 05:57] #43 closed

[2018-05-30 07:03] jiangwu10057 opened #44 "property "RESOURCE" written in "Analytics/job.php" have a problem"
`const RESOURCE            = 'stats/jobs/accounts/{account_id}';`
should be changed to
`const RESOURCE            = 'stats/jobs/accounts/{account_id}/{id}';`

[2018-05-30 07:08] hborras commented on #44
Thanks! I'll check it asap!

[2018-07-10 11:18] sebastianmorch opened #45 "API version 2.0 End of Life"
Hi,

I noticed, that version 2.0 of the API is scheduled for End of Life on August 1. See: https://developer.twitter.com/en/docs/ads/general/overview/versions

Do you have an update "in the works" to support version 3.0? And if so, when do you plan on releasing it?

[2018-07-10 11:56] hborras commented on #45
Hi!

Yes, I'm working on it!

My plan is to release it next week :)

[2018-07-10 12:37] sebastianmorch commented on #45
Sounds great!

Thanks 👍

[2018-07-10 12:37] #45 closed

[2018-07-22 08:36] #42 closed

[2018-07-22 08:39] hborras commented on #44
Solved in b1e2935ad909b997abaed92d1d395d2be63d075d

[2018-07-22 08:40] #44 closed

[2018-07-24 08:26] AndreiXwe opened #47 "Problems with the read function from Job.php"
I think that the _'read'_ function from _Job.php_ uses the wrong path, namely
`RESOURCE            = 'stats/jobs/accounts/{account_id}/{id}' `
instead of
`RESOURCE_COLLECTION = 'stats/jobs/accounts/{account_id}'`

Debugging down the line, the _'account_id'_ is correctly replaced with the right value, and the job IDs are appended as a parameter (job_ids), as specified in the [documentation](https:/

[2018-07-24 08:39] hborras commented on #47
You're right! Thanks for pointing it!

[2018-07-24 08:40] hborras commented on #47
Solved at e9f67d5

[2018-07-24 08:40] #47 closed

[2018-07-24 08:51] AndreiXwe commented on #47
No problem, glad to help!

[2018-07-24 09:20] sebastianmorch opened #48 "New version not showing up on packagist"
Hi,

The newest versions of the package are not available on packagist. The newest available version is `v2.0.2` and `dev-master` points to `2819a7c` from February 5. So it seems that the package hasn't been crawled by packagist since the commits on July 22 and 24. Are you using the hook?

Right now we've added the repository in the `repositories` section of the composer.json file in our project t

[2018-07-24 09:31] sebastianmorch commented on #48
Perfect thanks! Really appreciate the quick response 👍

[2018-07-24 09:31] #48 closed

[2018-08-28 14:53] regiszanandrea commented on #34
Hi,

Any news about the feature? I had some issues with the package occasioned by the TimeZone.

[2018-11-13 10:43] jaswinder-aika opened #49 "Getting error for batch creation of Targeting Criteria"
I am using this ads-sdk as a client to make the request to Twitter API for batch creation of Targeting Criteria.

https://developer.twitter.com/en/docs/ads/campaign-management/api-reference/targeting-criteria
Payload passed to the post() of Hborras\TwitterAdsSDK\TwitterAds:

array:2 [
  0 => array:2 [
    "operation_type" => "Create"
    "params" => array:3 [
      "line_item_id" => "cwd35"

[2018-11-13 11:13] hborras commented on #49
Hello,

Could you paste your code in order to be able to check it?

Thanks

[2018-11-13 11:45] jaswinder-aika commented on #49
I am using this sdk just as client to create the oauth and nonce for requesting ads api. Though sharing the code, not sure if that will help.

`public function batchAddTargetingProfile($params, TargetingCriteriaEntity $entity)
	{
		try {
			$adAccountId = $entity->getAdAccountId();
			$client = $this->getClient($entity->getCredentials());
			//use batch criteria
			$url = 'batch/accounts/'.$adAcco

[2018-12-12 08:47] jaswinder-aika commented on #49
any update?

[2018-12-12 09:46] hborras commented on #49
Hi @jaswinder-aika

Sorry, I didn't have the time to check it properly.

I'll try to do it asap

Sorry again!

[2018-12-16 11:44] hborras commented on #34
Hello.

New update in the lib!

Now it automatically gets Timezone from Twitter account, and show all dates in that timezone
#50

[2018-12-16 11:44] #34 closed

[2018-12-16 11:58] hborras commented on #40
Here you have the options

[2018-12-16 11:58] #40 closed

[2018-12-16 11:59] #37 closed

[2018-12-16 14:04] hborras commented on #49
Hello @jaswinder-aika

I've upgraded the library to version v3.2 where you can make POST requests to batch endpoints.
Please upgrade and test it
You should do it like this:

`$params = ['batch' =>json_encode([
        [
            "operation_type" => "Create",
            "params" => [
                "line_item_id" => "cwd35",
                "targeting_type" => "AGE",
                "targeting

[2018-12-16 14:05] #49 closed

[2019-01-07 12:13] amit-aika opened #52 "ads api 3.0 is deprecated"
Twitter ads api version 3.0 is deprecated. getting error for targeting and adding users in custom audiences. Cannot find a release for 4.0 in this repository.
![image](https://user-images.githubusercontent.com/42631633/50767540-3e8e6780-12a3-11e9-841f-74f48a0642e4.png)
![image](https://user-images.githubusercontent.com/42631633/50767526-2b7b9780-12a3-11e9-8742-c8c2a2d9f685.png)

[2019-01-23 10:40] nicotv commented on #52
Hello,
Would it be possible to make the V4 compatible with PHP 7.0?

[2019-01-23 11:07] hborras commented on #52
Hi @nicotv ,

This lib is compatible with PHP7, or you mean with the specifict 7.0 version?

PHP7.0 is deprecated http://php.net/supported-versions.php

End of life	A release that is no longer supported. Users of this release should upgrade as soon as possible, as they may be exposed to unpatched security vulnerabilities.

[2019-01-23 11:22] nicotv commented on #52
Hello @hborras,

Thank you for your answer.

Yes, I mean with the specific 7.0 version.

We will upgrade PHP after February 28, 2019

[2019-02-11 14:11] fedegara commented on #52
Any new about this?

[2019-02-11 14:35] hborras commented on #52
Working on it @fedegara

[2019-02-11 17:55] fedegara commented on #52
Thanks @hborras
Do you have any release date in mind? Do you need some help or something?

[2019-02-18 10:52] hborras commented on #52
Solved in last release.

Test it before going to production.

And let me know if you have any issues! :D

[2019-02-18 10:52] #52 closed

[2019-02-20 06:07] fullstackdevloper opened #53 "Call to undefined method Hborras\TwitterAdsSDK\TwitterAds\Campaign\Campaign::setAccount()"
Hey,

You added a method to add campaign into ad account. Here is the code:
`$campaign = new Campaign();
$campaign->setAccount($account);
$campaign->setFundingInstrumentId($account->getFundingInstruments()->first()->getId());`

But you know that the method `setAccount` doesn't exist into `Campaign` Class.

Thoughts?

[2019-02-20 06:18] amit-aika opened #54 "Null response"
I am trying to add users in tailored audience as given in documentation but when i send request it is always returning null response. And when I debug this i got an error of 415 code . In TwitterAds.php file there is a function named manageErrors() there is not any case of handling 415 error as well as I am unable to get the exact error message or response for this request.
![image](https://user-i

[2019-02-20 07:36] hborras commented on #53
Hi @fullstackdevloper

You saw that example in the Documentation, right?

Before this last release v4.0.0, which is the same as in branch 'v4-compatible' I was working in a big change for the library, you can start to see it in branch 'v4'.

The thing is that I've uploaded the wrong documentation file, with the new version and new methods.

My fault. I'll fix it

[2019-02-20 07:40] hborras commented on #54
Hello @amit-aika

Can you share the code you're using?

As you can see there is not any 415 error code in Twitters Documentation.

https://developer.twitter.com/en/docs/ads/general/guides/response-codes

Which version of the library are you using?

Thanks

[2019-02-20 08:23] fullstackdevloper commented on #53
Hi,

Thank you for your response. I see the `v4` branch and the documentation is same in this also.
https://github.com/hborras/twitter-php-ads-sdk/tree/v4

here are a couple of issues and nothing worked.
`$account->getFundingInstruments()->first()->getId()`
gives me error `undefined method first`.

when I saw the library I see there are no such methods. Can you please share the working example of

[2019-02-20 08:46] amit-aika commented on #54
Here is 415 error code.

[2019-02-20 09:49] hborras commented on #53
Don't use this branch.

Use the released version https://github.com/hborras/twitter-php-ads-sdk/releases/tag/v4.0.0

Branch v4 is not definitve

[2019-02-20 09:50] hborras commented on #54
Ok!

I'll check it! Thanks!

[2019-02-20 11:16] fullstackdevloper commented on #53
Same errors in this release.

Error 1) http://prntscr.com/mnlsub
I added the following code to remove this error
`TwitterAds::init(CONSUMER_KEY, CONSUMER_SECRET, ACCESS_TOKEN, ACCESS_TOKEN_SECRET);`

The error is gone but got a new error

Error 2) http://prntscr.com/mnltru

I added the following code to remove this error
`$campaign->setAccount($account);`
but this method is not defined

thanks.

[2019-02-20 12:39] hborras commented on #53
Okey, thanks @fullstackdevloper I'll check it!

[2019-02-21 05:33] amit-aika commented on #54
Hello @hborras

[2019-02-21 07:14] amit-aika commented on #54
One more question is when i am trying to use raw format is is showing unauthorized response.

[2019-02-21 08:07] hborras commented on #54
Does it work in version 3?

[2019-02-21 08:38] amit-aika commented on #54
I have not tried in version 3.

[2019-02-21 10:53] hborras commented on #54
Could you try it?

[2019-02-22 07:35] fullstackdevloper commented on #53
Hey @hborras,

Thank you. Any update?

[2019-02-25 23:23] hborras commented on #53
Hello.

Updated repo.

All examples are updated and work with correct keys

[2019-02-25 23:23] #53 closed

[2019-02-26 13:53] amit-aika commented on #54
Hello @hborras

Sorry For the late reply, I have again tried with version 4 and my code work successful . i just need to pass only header content-Type application/json and it will work for me

Thank you for you concern...

[2019-03-11 10:22] sheikh0775 opened #55 "Fatal error: Uncaught exception 'Hborras\TwitterAdsSDK\TwitterAds\Errors\Forbidden'"
Hi.. i have installed this SDK and trying to run the tailored_audience_read.php, it gives error as follows
PHP Fatal error:  Uncaught Hborras\TwitterAdsSDK\TwitterAds\Errors\Forbidden: FORBIDDEN in /home1/optimjm7/public_html/optimize-tw/src/TwitterAds.php:477

Moreover i have applied for twitter ads api developer access, they have approved.
also i have tried by consumer key and secret key using t

[2019-03-11 11:16] hborras commented on #55
Hello @sheikh0775 .

Are you filling ALL of this fields?

`const CONSUMER_KEY = 'your consumer key';
const CONSUMER_SECRET = 'your consumer secret';
const ACCESS_TOKEN = 'your access token';
const ACCESS_TOKEN_SECRET = 'your access token secret';
const ACCOUNT_ID = 'account id';`

Thanks

[2019-03-11 11:42] sheikh0775 commented on #55
Yes.. like this

use Hborras\TwitterAdsSDK\TwitterAds;
use Hborras\TwitterAdsSDK\TwitterAds\Account;
use Hborras\TwitterAdsSDK\TwitterAds\TailoredAudience\TailoredAudience;

require '../autoload.php';

const CONSUMER_KEY = 'XXXXXQA4ogLw79QtsULCEXXX';
const CONSUMER_SECRET = 'XXXXXAX7V1grdAnouCddErf9sRRVzZHaEkUXXXXX';
const ACCESS_TOKEN = 'XXXXXXX4787XXXX-YQ7228kWkf0cLgpXXXXX';
const ACCESS_TOKEN_S

[2019-03-11 11:50] hborras commented on #55
Hi @sheikh0775 ,

Working on my side with my access_tokens and same code.

You're getting an FORBIDDEN error, looks like you don't have proper permissions.

Please answer this two questions:

1 - Do you have access to that ACCOUNT_ID?
2 - Where did you created ACCESS_TOKEN and ACCESS_TOKEN_SECRET? Via developer.twitter.com?
3 - Do you have WRITE AND READ Permission with those access tokens?

Thank

[2019-03-11 12:04] sheikh0775 commented on #55
1 - Do you have access to that ACCOUNT_ID?
A: Correct me if i am wrong.. Account_id means my app id which i have created while applying for twitter ads api.
2 - Where did you created ACCESS_TOKEN and ACCESS_TOKEN_SECRET? Via developer.twitter.com?
A: Yes, the access_token i have created from developer console i.e. https://developer.twitter.com/en/apps inside keys and tokens
3 - Do you have WRITE A

[2019-03-11 12:14] hborras commented on #55
Hello @sheikh0775 ,

Nope! Account_id is the TWITTER ADS ACCOUNT you're going to manage. Is a string with a combination of numbers and characters.

Also, I want to add, the user that owns the app should have access to the account you want to manage. This is important .

![Captura de pantalla de 2019-03-11 13-11-49](https://user-images.githubusercontent.com/2531844/54123269-8ba3cc80-43ff-11e9-9033-

[2019-03-12 07:48] sheikh0775 commented on #55
Can i use sandbox account id??
Also how can i implement/test the complete flow of Ads API with sandbox environment using this SDK.

Thanks

[2019-03-12 08:58] hborras commented on #55
Hello @sheikh0775

Yes, you can use Sandbox Environment. You should use

`
$sandbox = true;

$api = TwitterAds::init(CONSUMER_KEY, CONSUMER_SECRET, ACCESS_TOKEN, ACCESS_TOKEN_SECRET, $sandbox);
`

[2019-03-12 09:44] sheikh0775 commented on #55
I have updated the code as you have mentioned with my sandbox accounts id.
Still i am getting FORBIDDEN error.
whereas when i am trying to access the account through twurl its working fine..
Where i am doing something wrong??

[2019-03-24 08:56] sheikh0775 commented on #55
Hi..
Its been days i was not working on this,
As mentioned before.. i have updated the account id(i have created an account on sandbox using twurl) and sandbox variable, still i am getting the same error as FORBIDDEN when i am trying to access the file over browser.

Whereas the step given for accessing accounts through twurl is working fine..

Please help me and let me know where i am missing som

[2019-03-24 13:45] sheikh0775 commented on #55
Hi.. its working.. i figured it out, the token were incorrect, i have updated them and its working.
Thank you..

[2019-03-24 13:45] #55 closed

[2019-04-05 19:11] #54 closed

[2019-04-06 01:01] kojoduncan opened #57 "Need to update Tailored Audience calls"
https://developer.twitter.com/en/docs/ads/audiences/guides/audience-api-integration

[2019-04-13 06:06] amit-aika opened #58 "Keyword not found"
Hi @hborras , I am using the api to get estimated reach count as given in documentation
Here is  the documentation Ref: https://developer.twitter.com/en/docs/ads/campaign-management/api-reference/reach-estimate.html
Issue is when i submit any keyword for reach estimate using *broad_keywords* type, It displays keyword not found.

Please help or reply as earlier.

[2019-04-13 18:37] hborras commented on #58
Hello @amit-aika

It's easier if you full copy your code, request and response.

Thanks

[2019-04-16 07:33] amit-aika commented on #58
Hii @hborras
Here is my code
![image](https://user-images.githubusercontent.com/42631633/56190396-c2e14b00-6047-11e9-8fcf-fc5216b01158.png)

Here is response
![image](https://user-images.githubusercontent.com/42631633/56190492-f02df900-6047-11e9-9c99-a0fadae3ab79.png)

Parameters used
![image](https://user-images.githubusercontent.com/42631633/56190518-fb812480-6047-11e9-84b8-fac42be1cbe3.png)

[2019-04-25 05:05] amit-aika commented on #58
Hii @hborras Any Progress on this ??

[2019-06-04 14:37] eblucas opened #59 "TIME ZONE USING GRANULARITY DAY - Expect time to be midnight in the account's local timezone for day granularity"
Hi,

 I saw another topic related to timezone and you said there that now every date is considering account twitter timezone.

I'm trying to pull data using break by DAY and I get this error.

 Expect time to be midnight in the account's local timezone for day granularity [parameter] => ) )

I'm using your example code  just changed from  AnalyticsFields::GRANULARITY => Enumerations::GRANULARITY_T

[2019-07-23 12:18] romilvserv opened #60 "Class 'TailoredAudienceChanges' not found"
Error: Class 'Hborras\TwitterAdsSDK\TwitterAds\TailoredAudience\TailoredAudienceChanges'
not found in hborras/twitter-php-ads-sdk/src/TwitterAds/TailoredAudience/TailoredAudience.php:58

As I've seen Twitter Tailored Audience documentation TailoredAudienceChanges is deprecated and yet used in the file TailoredAudience.php.

Please rectify the same.

[2019-07-31 10:14] lawrence-belo opened #62 "API version 4.0 End of Life"
Hi, It seems that this library currently uses API version 4.0 but that version is almost EOL. Will there be an update for version 5.0?
Thanks.
https://developer.twitter.com/en/docs/ads/general/overview/versions
<img width="801" alt="Screen Shot 2019-07-31 at 18 11 24" src="https://user-images.githubusercontent.com/42330110/62203909-ae3e7e00-b3be-11e9-992b-8a2c772e2c82.png">

[2019-07-31 11:14] hborras commented on #62
Hello!

Yes, I'm currently working on it!

[2019-08-01 02:01] lawrence-belo commented on #62
Thank you. That is much appreciated! :)

[2019-08-05 11:36] johndev182 commented on #62
Hello, Good day! Just curious if there are updates on this? Thank you in advance.

[2019-08-07 05:02] Hiolen commented on #62
Hello!

I'm looking forward to this update! Thank you in advance.

[2019-08-10 07:09] hborras commented on #62
Hello to all. Just on my holidays now until 19. I'll upload it on my return. Thanks!

[2019-08-20 13:27] fedegara commented on #62
Any news? we have 8 days to deprecation date

[2019-08-20 17:20] hborras commented on #62
Merged in #63

[2019-08-20 17:21] hborras commented on #62
If you have any problem, please, create a new Issue.

Thanks!

[2019-08-20 17:21] #62 closed

[2020-02-03 09:35] lawrence-belo opened #65 "API Version 5.0 EOL"
Hi, API version 5.0 is nearing EOL. Will there be an update for version 6.0 or higher? Thanks.
https://developer.twitter.com/en/docs/ads/general/overview/versions

<img width="791" alt="Screen Shot 2020-02-03 at 15 39 13" src="https://user-images.githubusercontent.com/42330110/73641741-6ec55700-46ab-11ea-908e-51aae51c724f.png">

[2020-02-03 11:30] hborras commented on #65
Hello @lawrence-belo ,

Yes, I'm working on a version with v6 and v7 support!

Thanks!

[2020-02-17 13:17] eblucas-uk opened #66 "Expect time to be midnight in the account's local timezone for day granularity [paramete"
Hi Borras,

I'm trying to get Ads data, but I'm getting this error.

I'm London UK -

Array
(
    [0] => DateTime Object
        (
            [date] => 2018-09-25 00:00:00.000000
            [timezone_type] => 3
            [timezone] => UTC
        )

    [1] => DateTime Object
        (
            [date] => 2018-09-26 00:00:00.000000
            [timezone_type] => 3
            [timezone] => U

[2020-02-17 14:28] hborras commented on #66
Hello!

Could you send the complete Request and Response?

Thanks

[2020-02-17 14:30] eblucas-uk commented on #66
Fixed  it just now It was my mistake, sorry.

Thanks though

[2020-02-17 14:30] #66 closed

[2020-02-24 15:22] eblucas-uk opened #67 "Filter campaign"
Hi Borras,

I'm trying to get ads data from my campaigns, for some it works fine for others it never finishes running.

How could I get less data?

This is what I'm doing but doesn't seem to work. Just never stop running  and when I go to the UI I see only a few line itens for this add count.

        $campaigns = $account->getCampaigns('', [TwitterAds\Fields\CampaignFields::COUNT => 10]);

[2020-02-25 09:08] hborras commented on #67
Hello @eblucas-uk

You have this line "$lineItems->setUseImplicitFetch(true);" It means that automatically Cursor class will fetch another request. If you don't set it true, (aka remove that line) you will need manually at the end of the loop call "$lineItems->fetchNext()"

[2020-02-25 10:40] eblucas-uk commented on #67
Hello

Thanks for your reply
When I use $lineItems->fetchNext();

I get bad request error

Hborras \ TwitterAdsSDK \ TwitterAds \ Errors \ BadRequest (400)
BAD_REQUEST

[2020-02-25 12:01] hborras commented on #67
Could you share the whole code and where are you using the "fetchNext()" instruction?

Thanks

[2020-02-25 13:41] eblucas-uk commented on #67
public function getTwitterData(Request $request) {
        $agent = new Agent(['sourceRoot' => realpath('/app')]);
        $this->logging = new logging('TwitterApi');
        $this->logging->getLogger()->info('Started Twitter');
        $this->content = Request::all();

        // $this->account_id = $this->content['account_id'];
        // $this->account_id = "18ce5529u8e";
        $this->account

[2020-02-25 13:47] eblucas-uk commented on #67
I need to get the data for all campaigns in each accountId, thats what I trying to do

[2020-02-25 14:55] hborras commented on #67
For those accountes where it runs forever. Could it be, because they where created much more time ago?

Take a look at this line:

`$startDate = new \DateTime($campaign->getStartTime()->format('Y-m-d 00:00:00'), new \DateTimeZone('Europe/London'));`

[2020-02-26 12:45] eblucas-uk commented on #67
Hmm I haven't thought about that.

Make sense, will change and let you know. Thank you

[2020-02-27 11:57] urvashihirkar opened #68 "Post User to Twitter Tailored Audiences User"
I am trying to post user in audience list id(which i am creating dynamically).

Here is code i am using -:

` require '../vendor/autoload.php';
        require 'config.php';

        $api =  TwitterAds::init(CONSUMER_KEY, CONSUMER_SECRET, $oauth_token, $oauth_token_secret);

        $responseAcc = $api->get('accounts');
        $account = $responseAcc->getBody();
        $twAdsAccId = $account->da

[2020-02-29 14:24] eblucas-uk commented on #67
Hi Hborras

I'm trying to get only 1 campaign but it seems that the count isnt working

         $campaigns = $account->getCampaigns('', [ 'sort_by' => 'created_at-asc','count' => 1]);

it is returning all campaigns.   The sort by is working though.

Do you know how I can get only one?

[2020-03-02 02:22] lawrence-belo commented on #65
Hi,
I just want to know if there's an update for this since EOL for 5.0 is tomorrow.

Thanks!

[2020-03-02 08:41] hborras commented on #65
Hi,

Just uploaded a new version for v6. I hadn't got enought time to publish the "final" release so I've published a temporary one with minimal changes. I'll try to push new features in the next days!

Same for v7, I'm uploading it now

[2020-03-02 08:42] hborras commented on #67
have you tried

[code]

[2020-03-03 17:19] eblucas-uk commented on #67
Do you know why I get this error sometimes?
I'm getting data from 4 campaigns but   for only one  I get this error

ErrorException thrown with message "Undefined index: retry-after"

Stacktrace:
#39 ErrorException in /Users/eduardolucas/Documents/Projects/adopssystem/backend/vendor/hborras/twitter-php-ads-sdk/src/TwitterAds/Errors/ServiceUnavailable.php:15
#38 Illuminate\Foundation\Bootstrap\Handl

[2020-03-04 10:26] eblucas-uk commented on #67
Hi Hborras,

Has anything changed?

Now I get this error when I try to access the accounts.

Hborras \ TwitterAdsSDK \ TwitterAds \ Errors \ Forbidden (403)
FORBIDDEN

Yesterday it was working normally

[2020-03-04 10:32] hborras commented on #67
Have you updated to v6?

Yesterday Twitter deleted v5 access, you need to update the library to v6

[2020-03-04 10:36] eblucas-uk commented on #67
I installed your packaged from composer and updated it  with composer updated?

How can I know if Im using v6?

[2020-03-04 10:45] eblucas-uk commented on #67
Ok thanks.. didnt know that.. its working now

[2020-03-04 10:58] hborras commented on #68
Thanks!

[2020-03-05 08:05] ponnnarasi14 opened #70 "how to schedule tweets to go live at later include text,images,gifs and videos using ads api?"
Scheduled Tweets allow an advertiser or user to create a Tweet that can be scheduled to go live at a later date, That Tweets can include text, images, GIFs, videos, or cards.

Development Languages : Laravel - php and Database - mysql

i am beginner for twitter  ads api please help me to schedule post on twitter.

[2020-03-05 13:45] nicotv opened #71 "Unable to update a campaign with v6.0.0"
After upgrading to v6.0.0, campaign updates are failing.
In method Resource::toParams, call to $this->getProperties() returns an empty array instead of the campaign RW properties, thus no params are being sent.
This is due to the fact that getProperties method has been removed from Campaign class (and other classes).
Now method getProperties from Resource class is being called, but $properties is

[2020-03-05 21:12] hborras commented on #71
Solved in #72

Please download latest version

[2020-03-06 06:35] ponnnarasi14 opened #73 "how to schedule post on twitter using hborras / twitter-php-ads-sdk ?"
`// twitter api get tweets endpoint
		$twitterPostEndpoint = 'https://ads-api.twitter.com/6/accounts/18ce552oqmu/scheduled_tweets';

// twitter api endpoint request type
		$requestMethod = 'POST';
// twitter api endpoint data
		$getfield = '?as_user_id=1056808230779727872&scheduled_at=2020-03-06T14:00:00Z&text=Testing-schedule-post&media_keys=3_1229666587843497985&nullcast=false';`

using above en

[2020-03-06 13:00] eblucas-uk commented on #67
Do you know why I get this error sometimes?
I'm getting data from 4 campaigns after a few minutes running I get this error.

ErrorException thrown with message "Undefined index: retry-after"

Stacktrace:
#39 ErrorException in /Users/eduardolucas/Documents/Projects/adopssystem/backend/vendor/hborras/twitter-php-ads-sdk/src/TwitterAds/Errors/ServiceUnavailable.php:15
#38 Illuminate\Foundation\Bootst

[2020-03-06 14:21] hborras commented on #67
Let me check it!

Thanks!

[2020-03-06 14:49] hborras commented on #65
Solved in latest release

[2020-03-06 14:49] #65 closed

[2020-03-06 14:49] hborras commented on #68
Keep trying to find a good solution!

Sorry for the delay!

[2020-03-06 14:53] hborras commented on #71
@nicotv Did you have a chance to check this?

Thanks!

[2020-03-06 15:05] hborras commented on #67
Twitter Ads API is throwing a 503 code. That code should include a header called "retry-after". Looks like Twitter is not always showing that header.

Download latest version of the library. You will get an error anyway. But the reason is that you're hitting same endpoint to heavily

[2020-03-06 16:31] eblucas-uk commented on #67
I downloaded this morning.

Thanks for the feedback. I'll have to split the requests then.

[2020-03-06 16:33] nicotv commented on #71
It's resolved, thank you very much

[2020-03-06 17:51] #71 closed

[2020-03-06 20:31] hborras commented on #68
Hello!

I've found a temporary solution. But I cannot test it until next week. App I have access to, doesn't have permissions until next week to Audience API.

Could you try this way and tell me what kind of response do you have?

`$data = [
    [
        'operation_type' => "Update",
        'params' => [
            "users" => [
                [
                    "email" => [

[2020-03-06 20:33] hborras commented on #60
check https://github.com/hborras/twitter-php-ads-sdk/issues/68

[2020-03-06 20:33] #60 closed

[2020-03-06 21:01] hborras commented on #57
solved in last release

[2020-03-06 21:01] #57 closed

[2020-03-06 22:11] hborras commented on #73
Duplicated #70

[2020-03-06 22:11] #73 closed

[2020-03-06 22:14] hborras commented on #70
Download new version of the library and use this code:

[code]

[2020-03-07 10:22] ponnnarasi14 commented on #70
Thank you for your support, yeah its working.
1) if i scheduled tweet that can include the text with 4 images and text with 1 GIF its successfully scheduled on twitter and working fine.
2) how can i schedule tweet that can include text with 3 images and 1 GIF or tweet that can include text with video?

[2020-03-07 11:02] hborras commented on #70
Hi @ponnnarasi14

Could you share the code you're executing?

Thanks

[2020-03-07 11:11] ponnnarasi14 commented on #70
require_once dirname(__FILE__) . '/../../../vendor/hborras/twitter-php-ads-sdk/autoload.php';

// Create twitter ads client
$api = TwitterAds::init( self::CONSUMER_KEY,  self::CONSUMER_SECRET,  self::ACCESS_TOKEN,  self::ACCESS_TOKEN_SECRET);

$account = (new Account (self::ACCOUNT_ID))->read();

$scheduledTweet = new ScheduledTweet();

$scheduledTweet->setText("this is my tweet on twitter that ca

[2020-03-09 10:15] ponnnarasi14 commented on #70
sorry for the inconvenience, i think its not possible to scheduled tweet that can include text with images and gif!

[2020-03-09 10:38] #70 closed

[2020-03-09 14:11] hborras commented on #70
No problem!

Thank to you!

[2020-03-10 10:16] #67 closed

[2020-03-10 10:19] #68 closed

[2020-07-12 23:42] groover99 commented on #66
@eblucas-uk  How you solved this error. I am also getting this error.

My post params are like

[code]

[2020-07-13 06:29] eblucas commented on #66
Hi @groover99

You need to create the date object setting the TimeZone for the same as your Twitter account, in your case Australia/Sydney

            $startDate = new \DateTime('2020-01-01 00:00:00', new \DateTimeZone('Europe/London'));

            $endDate = new \DateTime('2020-02-10 00:00:00', new \DateTimeZone('Europe/London'));

Hope this helps.

[2020-07-13 06:30] groover99 commented on #66
Just got this email. Not sure who needs to see this / raised a ticket at
GitHub

On Mon, 13 Jul 2020 at 11:29 AM, Eduardo Botelho Lucas <
notifications@github.com> wrote:

[2020-07-23 14:10] nikkig124 opened #77 "Update/Delete users from Tailored Audience"
https://developer.twitter.com/en/docs/ads/audiences/api-reference/audience

Will you be adding functionality for this endpoint for the v7 update?

[2020-08-03 10:17] lawrence-belo opened #78 "API Version 6.0 EOL"
Hi, API version 6.0 is nearing EOL. Will there be an update for version 7.0? Thanks.
https://developer.twitter.com/en/docs/ads/general/overview/versions

[2020-08-03 14:48] osowskit opened #79 "Update example to move assets to the media library"
Twitter Ads requires assets uploaded to Twitter be added to the [Media Library](https://developer.twitter.com/en/docs/ads/creatives/guides/media-library). This came up in this [forum post](https://twittercommunity.com/t/creat-website-card/140347/6).

The [POST media_library](https://developer.twitter.com/en/docs/ads/creatives/api-reference/media-library#post-accounts-account-id-media-library) requ

[2020-08-20 09:06] itayalon commented on #78
Hi,
we are also waiting for the official move, in the meanwhile we are using the 'temp-v7' branch

[2020-08-20 09:20] hborras commented on #78
Hello! Sorry for the delay,

I come back from my holidays this monday. I'm currently working on it. I'll make a realease ASAP!

Thanks!

[2020-08-20 11:38] itayalon commented on #78
that's great, thank you for letting me know,
Itay

[2020-08-24 11:04] hborras commented on #78
Hello!

Released version v7-beta. Try it, and if by thursday it's OK, I'll release v7.0.1

Thanks!

[2020-08-24 11:09] hborras commented on #77
I'll check it! I think it was added...

[2020-08-24 11:10] hborras commented on #79
You're right!

I'll update it

[2020-08-24 13:32] nikkig124 commented on #77
To be more specific since the link redirects you to a different page, this is the endpoint I am referring to:
accounts/:account_id/tailored_audiences/:tailored_audience_id/users

[2020-08-24 18:19] nikkig124 commented on #78
I tested the endpoints I use, mostly the accounts and Tailored Audience endpoints. They are working.

[2020-08-28 14:16] hborras commented on #78
New Release:

https://github.com/hborras/twitter-php-ads-sdk/releases/tag/v7.0.0

[2020-08-28 14:16] #78 closed

[2020-10-08 11:25] eblucas opened #81 "ERROR - FORBIDDEN"
Hi

I'm having problems now, everything was fine a few days ago but no it stopped working..

Hborras\TwitterAdsSDK\TwitterAds\Errors\Forbidden: FORBIDDEN in file /Users/eduardo/Projects/phd_constellation/backend/vendor/hborras/twitter-php-ads-sdk/src/TwitterAds.php on line 540

Any ideas?

Thanks

[2020-10-08 11:26] eblucas commented on #81
Also when I run composer update

Deprecation Notice: Class Hborras\TwitterAdsSDK\TwitterAds\Campaign\FeatureFields located in ./vendor/hborras/twitter-php-ads-sdk/src/TwitterAds/Fields/FeatureFields.php does not comply with psr-4 autoloading standard. It will not autoload anymore in Composer v2.0. in phar:///usr/local/bin/composer/src/Composer/Autoload/ClassMapGenerator.php:201

[2020-10-08 12:22] hborras commented on #81
Hello @eblucas ,

Are you whitelisted to use TwitterAdsApi? How are you instantiating the TwitterAds class?

About the second comment. I was not aware of that change in composer v2.0. Thanks!

[2020-10-08 12:55] eblucas commented on #81
Hello @hborras

Yes I'm, I've been using it for over a year

 $api = TwitterAds::init($this->CONSUMER_KEY, $this->CONSUMER_SECRET, $this->ACCESS_TOKEN, $this->ACCESS_TOKEN_SECRET);

        $account = new Account($this->account_id);
        $account->read();
        $campaigns = $account->getCampaigns();

[2020-10-08 14:22] hborras commented on #81
It's strange then.

Have you tried to do a connection with twurl with your current credentials? I guess problem is in Twitter's side

[2020-10-08 15:32] eblucas commented on #81
I've tried with twurl and worked fine, very strange indeed.

-> ~ -> twurl authorize --consumer-key fXPUPIZAYdvLUM5nd25Z0GSVe  --consumer-secret um1jtzIOmbB46nqNDMX04zgGkEFjExo4nl57WqfzExh80zqlhe
Go to https://api.twitter.com/oauth/authorize?oauth_consumer_key=XXXXXXXXXXX&oauth_nonce=XXXXXXXXXXX&oauth_signature=XXXXXXXXXXX%253D&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1602170839&oauth_toke

[2020-10-08 15:32] eblucas commented on #81
I've tried with twurl and worked fine, very strange indeed.

-> ~ -> twurl authorize --consumer-key XXXXXXXXXXX --consumer-secret XXXXXXXXXXX
Go to https://api.twitter.com/oauth/authorize?oauth_consumer_key=XXXXXXXXXXX&oauth_nonce=XXXXXXXXXXX&oauth_signature=XXXXXXXXXXX%253D&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1602170839&oauth_token=XXXXXXXXXXXo&oauth_version=1.0 and paste in the supp

[2020-10-08 16:29] eblucas commented on #81
I spoke to twitter, they had to generate a new key for me manually and now its working.
THanks for your help anyway.

[2020-10-08 16:29] #81 closed

[2021-01-04 11:17] ponnnarasi14 opened #83 "Does this support v2 of the twitter API?"

[2021-01-08 13:34] ponnnarasi14 opened #84 "hborras\twitter-php-ads-sdk\src\TwitterAds.php - Maximum execution time of 300 seconds exceeded"
while schedule / uploading video on twitter using twitter php ads sdk its showing following error maximum execution time exceeded. below i have attached my code  plz check it and give a solution.

`require_once dirname(__FILE__) . '/../../../vendor/autoload.php';

// Create twitter ads client
$api = TwitterAds::init(self::CONSUMER_KEY, self::CONSUMER_SECRET, self::ACCESS_TOKEN, self::ACCESS_TOKEN_

[2021-01-08 13:39] #83 closed

[2021-01-08 13:49] ponnnarasi14 opened #85 "how to schedule tweet with multiple images on twitter?"
how to schedule tweet with multiple images on twitter? below i have attached my code in this code i have used 3 images but when uploading on twitter its showing only one image the first image only please check it and given a solution.

`require_once dirname(__FILE__) . '/../../../vendor/autoload.php';

// Create twitter ads client
$api = TwitterAds::init(self::CONSUMER_KEY, self::CONSUMER_SECRET,

[2021-01-11 08:55] hborras commented on #85
Hello

Thanks for your post. I'll check it when possible.

[2021-01-11 08:55] hborras commented on #84
Hello

Thanks for your post. I'll check it when possible.

[2021-01-13 06:44] ponnnarasi14 commented on #84
hi hborras,

Any updates?

[2021-01-13 06:45] ponnnarasi14 commented on #85
hi hborras,

Any updates?

[2021-01-21 17:48] eduardoblucas opened #86 "HTTP request failed! HTTP/1.0 426 Upgrade Required"
Hi, I'm getting this error now.  Any ideas?  thanks

`ErrorException: gzfile(https://ton.twimg.com/advertiser-api-async-analytics/slKanmA6oZyP8UlbYrjfkN6tbke2ZMQVFp_d1sWiQWKfpLiGd4AuannFvvEFS0Kv7s55-2n4sl7q7aawZy2kW7o6ZQ-jMp_PrA_7I9Lyx_UiuuiFSAlbfZwJbufS7RAg.json.gz): failed to open stream: HTTP request failed! HTTP/1.0 426 Upgrade Required`

[2021-01-27 18:57] theorytank commented on #86
I was having the same issue when requesting the payload from a async job.  The response from $job->getUrl() returns a URL that you are probably passing directly to the gzfile() function.  I've noticed that there's a timing issue (on the Twitter side) that the GZ'd payload at the getUrl() location isn't ready.  So, on failure, if you sleep for a second and try again (a few times) eventually the pay

[2021-01-27 19:10] hborras commented on #86
Thanks for your message, I haven't got enough time to take a deeper look at
it.

I'll check your solution

Thanks again!

Missatge de Josh <notifications@github.com> del dia dc., 27 de gen. 2021 a
les 19:57:

[2021-02-01 18:12] javier-bexi opened #87 "BAD_REQUEST when retriving stats on PromotedTweet"
I tried to get analytics from promoted tweet but I'm getting this error now (BAD REQUEST) when execute 'stats' method of PromotedTweet class, here is my code:

            $metricGroups = [
                AnalyticsFields::METRIC_GROUPS_BILLING,
                AnalyticsFields::METRIC_GROUPS_MOBILE_CONVERSION,
                AnalyticsFields::METRIC_GROUPS_ENGAGEMENT];
            $statsParams = [

[2021-02-02 15:47] arvernester opened #88 "Plan to Release Version 8 and 9"
Hi @hborras,
Twitter announces that v7 will be ended on March 2, 2021. Do you have a plan to release v8 or v9 in the near future?

Versioning from Twitter Ads: https://developer.twitter.com/en/docs/twitter-ads-api/versioning

Thanks.

[2021-02-03 02:07] lawrence-belo commented on #88
Hi, we're also waiting on this update. Thanks.

[2021-02-03 06:57] nitin-aika09 commented on #88
Hi @hborras, we also have dependecy to this package and end date of v7 is just near. Could you please help us to know the expected time of this version update?

Thanks.

[2021-02-03 12:28] itayalon commented on #87
might be a missing permissions issue, we had the same when trying to create promoted tweets for app with external user.
if that's the case, check this link :
https://developer.twitter.com/en/docs/tutorials/promoting-another-users-content

[2021-02-03 18:28] hborras commented on #88
Hi all, yes It's planned to be released at the end of this week :)

[2021-02-03 18:29] hborras commented on #87
Hi @javier-bexi  have you checked the possible solution provided by @itayalon ?

[2021-02-03 20:58] javier-bexi commented on #87
not yet, but I solved it from the AdAccount level, adding the Entity type in the parameters

[2021-02-04 02:57] arvernester commented on #88
Thanks @hborras, glad to hear that news. :)

[2021-02-07 09:53] hborras commented on #87
Solved in 36148e093564e0575344272b784c116453c8b23b

[2021-02-07 09:53] #87 closed

[2021-02-07 09:57] hborras commented on #86
Checked it and it's working:

This is the test code I'm using:

`$job = $lineItem->stats(
                    [
                        TwitterAds\Fields\AnalyticsFields::METRIC_GROUPS_BILLING,
                        TwitterAds\Fields\AnalyticsFields::METRIC_GROUPS_MOBILE_CONVERSION,
                        TwitterAds\Fields\AnalyticsFields::METRIC_GROUPS_ENGAGEMENT,
                    ],

[2021-02-07 10:12] hborras commented on #85
Hello @ponnnarasi14
Working in my side with 1 media or 2 medias

![image](https://user-images.githubusercontent.com/2531844/107143421-46fb7580-6935-11eb-9398-2c5b5ce25089.png)

Have you checked the rights user and account?

[2021-02-07 10:18] hborras commented on #84
Working on my side.

Is it a very large video?

If you want to extend the 30s timeout you will need to extend the TwitterAds class and change the property

[2021-02-07 10:20] hborras commented on #88
Solved here:

https://github.com/hborras/twitter-php-ads-sdk/releases/tag/8.0.0

[2021-02-09 07:15] #88 closed

[2021-02-12 08:57] juliuswebdev opened #89 "Hborras\TwitterAdsSDK\TwitterAds\Errors\Forbidden: FORBIDDEN"
Hi I got an issue about this package. I update customer tokens and access tokens and also my account is approved in Twitter ads and got ads api badge in accnt, How to do

This is my code.
                $twitterAds = TwitterAds::init(
                    $this->consumer_key,
                    $this->consumer_secret,
                    $this->oauth_access_token,
                    $this->oauth

[2021-02-15 11:25] itayalon opened #90 "missing opertor_type on Targeting Criteria creation"
hi, we updated to the new version and while setting target criteria in the line item creation we get an error saying:
"MISSING_PARAMETER: operator_type is a required parameter"

[2021-02-15 14:40] hborras commented on #90
Hi @itayalon

I understand,

You mean making it available in TargetingCriteriaFields class, right?

Thanks

[2021-02-16 08:27] itayalon commented on #90
Hi @hborras,
yes it seems like it should be added to TargetingCriteriaFields and also to TargetingCriteria as a value in $properties array + setter and getter.

[2021-03-02 16:21] eduardoblucas commented on #86
Hi any idea why this happens sometimes?

It is happening again and I didn't  change anything.

ErrorException: gzfile(https://ton.twimg.com/advertiser-api-async-analytics/tOMs85xJqNl4ZqFzCkGYyYFmgwirELTozxz3Vkw7I8cPeVZnyDgcusfLPs9E9IPJmM_v6SqK07vsXuu-8Ko5_gfG8XmkI_sphweYDLBrjzr43raU9D1GhtXjS_21p_0L.json.gz): failed to open stream: HTTP request failed! HTTP/1.0 426 Upgrade Required

[2021-03-02 16:31] hborras commented on #86
Hi @eduardoblucas

If it happens "somentimes" it could be an error on Twitter's side, what do you think?

[2021-03-02 16:34] eduardoblucas commented on #86
hi @hborras yes might be. Just wanted to know if you know some workaround .
Thanks anyway .

[2021-03-03 13:35] eduardoblucas commented on #86
Realised that if I request  less data. ( like 3 days ) it doesn't happen. It happens only if I try to get more than 5 days

[2021-03-19 12:57] decaluwepatrick opened #91 "Adding Language TargetingCriteria returns BAD_REQUEST"
I am trying to set a language targeting criteria, but it returns an exception:
Hborras\TwitterAdsSDK\TwitterAds\Errors\BadRequest: BAD_REQUEST

[code]

Doing the exact same request via postman works perfectly. Also changing location criteria instead of language works  perfectly:

[code]

Any idea why this would not work?

[2021-03-19 13:19] decaluwepatrick commented on #91
The issue seems to be that operator_type is not added to the request:

 [0] => stdClass Object
        (
            [code] => MISSING_PARAMETER
            [message] => "operator_type" is a required parameter
            [parameter] => operator_type
        )

[2021-03-19 13:24] decaluwepatrick commented on #91
closing as it is a duplicate of #90

[2021-03-19 13:24] #91 closed

[2021-03-19 13:25] decaluwepatrick commented on #90
did you find a clean way to add it manually to the request? I'm interested

[2021-03-21 10:00] itayalon commented on #90
Hi decaluwepatrick,
what we ended up doing as a temp solution is to extend the TargetingCriteria class and add operator_type to properties.
then, we set the operator type in the line creation flow (e.g setOperatorType('EQ'))

i attach the class extension code

`<?php

namespace AppBundle\Vendors\Twitter\Campaign;

use Hborras\TwitterAdsSDK\TwitterAds;

class TargetingCriteria extends \Hborras\Twit

[2021-03-21 11:14] farrusete opened #92 "How to report on active campaigns only"
Hi,

Loving this one! It is very helpful to get authentication done for those of us with basic knowledge on APIs. Just would like to know what would be the best approach to get:

1.- Active accounts (those with impressions delivered the last 3 days)
2.- For those active accounts, all campaigns with delivery for the last 3 days
3.- For those active campaigns, get the report with daily breakdown for

[2021-03-21 19:30] decaluwepatrick commented on #90
thanks, makes complete sense

[2021-04-07 23:32] info2000 opened #93 "[Question] How get timeline tweets?"
Hello, could help me to use the "SCOPED_TIMELINE" resource to get the organic tweets?
the goal is to promote these organic tweets

Thanks

[2021-04-08 18:04] lonnylot opened #94 "Support API Version 9"
Version 8 is going EOL on August 31, 2021: https://developer.twitter.com/en/docs/twitter-ads-api/versioning

A list of changes: https://twittercommunity.com/t/ads-api-version-9/150316

[2021-07-12 14:44] lonnylot commented on #94
Hi @hborras - any plans to update to v9 (and the pending v10)?

[2021-07-14 02:19] eblucas commented on #92
Hi,

I have the same question. How can we do that?

This is how am I'm doing now` - $campaigns = $account->getCampaigns('', [TwitterAds\Fields\CampaignFields::COUNT => 10]);- `

But I couldn't find any documentation about getting only active campaigns and line items.

Thanks

[2021-07-16 04:14] eblucas commented on #92
hi @hborras , do you have any tips on how to do this?

Thanks

[2021-07-16 05:37] hborras commented on #92
Hello! As far as I know, this is not possible. I usually only get stats for Active campaings and control in my backend when a campaign is paused or reach its end date

Sorry!

[2021-07-16 05:38] hborras commented on #94
Workking on it! Thanks for the links

[2021-08-12 07:49] itayalon commented on #94
Hi @hborras, any ETA for the release?

[2021-08-12 15:48] hborras commented on #94
Hello!

I'll try to finish the release to launch it next week.

Thanks!

Missatge de Itay Alon ***@***.***> del dia dj., 12 d’ag. 2021
a les 9:49:

[2021-08-23 12:19] jaswinder-aika commented on #94
@hborras any update on release for version 9

[2021-08-23 12:20] hborras commented on #94
Planning to release this afternoon or tomorrow if everything is OK!!

El dl., 23 d’ag. 2021, 14:19, Jaswinder Singh ***@***.***> va
escriure:

[2021-08-23 18:53] hborras commented on #94
Just released V9.

Need to implement some changes for tailoredAudiences. I hadn't got enought time but I wanted to sailor a new Version today. I'll try to implement ASAP.

Thanks!

[2021-08-23 19:14] lonnylot commented on #94
@hborras Thanks for getting this out.

A thought for future versions: Break this package in to many sub-packages that can each be updated independently.

I'd happily contribute to updating/maintaining any endpoints I am using, but it's too difficult in such a large package and missing changes hold up the rest of the release.

[2021-08-23 19:39] hborras commented on #94
Hi Lonny,

Thanks for your answer

Problem of that scenario is that the API works as while system, if you only
update some endpoints you will have problems.

El dl., 23 d’ag. 2021, 21:14, Lonny Kapelushnik ***@***.***>
va escriure:

[2021-08-24 19:57] n-gibs opened #96 "In v9.0 Twitter has changed TailoredAudiences to CustomAudiences"
TailoredAudience folder and classes should be renamed CustomAudiences for less confusion in the future.

[2021-09-03 08:51] farrusete commented on #92
This could be done by requesting

$activeTweets = $api->get('stats/accounts/'.$accountID.'/active_entities', $paramsActive);

https://developer.twitter.com/en/docs/twitter-ads-api/analytics/guides/active-entities

[2021-12-16 23:15] #96 closed

[2022-02-14 10:03] Aksagayu commented on #70
require_once dirname(FILE) . '/../../../vendor/hborras/twitter-php-ads-sdk/autoload.php';

// Create twitter ads client
$api = TwitterAds::init( self::CONSUMER_KEY, self::CONSUMER_SECRET, self::ACCESS_TOKEN, self::ACCESS_TOKEN_SECRET);

$account = (new Account (self::ACCOUNT_ID))->read();

$scheduledTweet = new ScheduledTweet();

$scheduledTweet->setText("this is my tweet on twitter that can inclu

[2022-02-17 10:42] vinodlogiciel opened #99 "Support API Version 10"
Version 9 will be deprecated from March 31st 2022.  Any plans to upgrade SDK to v10.

[2022-02-22 01:39] lawrence-belo commented on #99
Any update on this? We're also waiting for v10 support. Any update is much appreciated.

[2022-02-22 11:34] bolner commented on #99
@vinodlogiciel @lawrence-belo These are the changes between 9 and 10:
- https://twittercommunity.com/t/ads-api-version-10/158787#whats-changing-4

None of those affect my projects, so I was just thinking to just fork this library and change this number to 10:
- https://github.com/hborras/twitter-php-ads-sdk/blob/master/src/TwitterAds.php#L23

[2022-03-15 10:08] itayalon commented on #99
Hi @hborras, any ETA for the release?

[2022-03-16 06:49] jasmel-aika commented on #99
hi @hborras, current version will be deprecated from March 31st 2022. Please release new version ASAP.

[2022-03-16 13:10] bolner commented on #99
@vinodlogiciel @lawrence-belo @itayalon @jasmel-aika

As a temporary solution I've created a Packagist package that has only the version number modified. (That number is used in the URLs of the API calls.)
Feel free to create merge requests and implement the changes related to version 10. (Those doesn't affect my projects though.)

Packagist page:
- https://packagist.org/packages/tbolner/twitter-p

[2022-03-17 01:57] lawrence-belo commented on #99
Thanks! This is great, I might try this out if we need to use new endpoints. Though for now I just went ahead rewrote parts of our code to directly access the API so we won't have to depend on this library. We've been using this library for a couple of years now and its been great, but guess its time to move on.

[2022-03-28 01:53] kin29 opened #100 "Update image_media_key to media_key in website card property."
Nice to meet you.
I thank to this repository.
Will you be updating website card property for the v10 update?

### error
`[{"code":"MISSING_PARAMETER","message":"\"media_key\" is a required parameter","parameter":"media_key"}]`

### reference
https://developer.twitter.com/en/docs/twitter-ads-api/creatives/api-reference/website

[2022-05-09 14:20] siketyan opened #101 "PHP 8.1 deprecation warnings"
At PHP 8.1, it is required to mark types explicitly on implementing Iterator and/or Countable interface(s). To support the PHP version, either marking types or adding `#[\ReturnTypeWillChange]` attribute is needed.

[code]

[2022-05-28 16:33] ssoftware opened #102 "Tweet details"
Hi All, can someone help me how to get details of a tweet based on the tweet id? For example, name, full_text fields.

I am looking for something very similar to the getPromotedTweets() method but could not find it. Thanks in advance!

[2022-05-29 05:56] #102 closed

[2022-05-29 05:57] ssoftware commented on #102
Found a way to do it.

$params = ['tweet_type' => 'PUBLISHED', 'tweet_ids' => implode(',', $tweet_ids)];
$response = $account->getTwitterAds()->get('accounts/' . $ad_account . '/tweets', $params);

[2022-07-21 08:13] rachid-essakhi opened #103 "Twitter OAuth 2"
I'm upgrading my project to use OAuth 2 , can you please guide me to use bearer token with this library to manage campaigns?
Thanks

[2022-08-10 11:37] ohadeilam opened #104 "Support for Twitter Ads API v11 ?"
Hey dear friend, thanks for this package.
Any plan to upgrade to support Twitter Ads API v11?
By september 29th v10 wont be supported by twitter anymore.
Thanks!

[2022-09-15 09:28] nitin-aika09 commented on #104
Hi - Twitter version v10 is going to be depricated by Sep-29th. So can you please confirm when you are planning for that?

[2022-09-18 10:31] itayalon opened #105 "continued support?"
Hi Hector!

First, Thanks for the time and effort you put into this sdk, I personally appreciate it a lot.

secondly, judging by previous updates schedule and the wide(r) scope of changes this time, can i assime that you are not planning to update the sdk pre sundown of twitter v10 (29.09.22)?

It would be great if you can share with us your plans / eta.

Much appreciation,
Itay